<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<div th:if="${param.error}" style="color: red">Invalid username
		and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form method="post" id="createProductForm">
		<label>Sku:</label><input name="sku" type="text" /> <label>Name:</label><input
			name="name" type="text" /> <label>Description</label><input
			name="description" type="text" /> <label>Price</label><input
			name="price" type="text" />

		<button type="submit" name="button">OK</button>
	</form>

	<label>Image name:</label>
	<input name="name" type="text" />
	<br />
	<label>Image file:</label>
	<input name="file" multiple="multiple" type="file" />
	<br />
</body>
</html>